* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 1024px;
  background: #ffffff;
}

.header {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #ffffff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

.header__img {  
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.header__title {

}

.main {
  margin-top: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.main__messeger {
  display: flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: space-around;
  align-items: center;
}

.messenger{
  display: flex;
  align-content: center;
  height: 150px;
  width: 150px;
}

.messenger__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
