* {
  margin: 0;
  padding: 0;
}
@media (min-width: 300px) {
  .header {
    width: 100%;
    min-width: 200px;
  }
}
body {
  margin: 0 auto;
  background: #ffffff;
  height: auto;
  width: 1024px;
}

.header {
  background: #009B95;
  border-radius: 0 0 10px 10px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.header__title {
  color: #ffffff;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__messeger {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.messenger{
  height: 130px;
  width: 100px;
  background: #33CDC7;
}
.messenger__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
