* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 800px) {
  .page {
    max-width: 800px;
  }
}

.page {
  margin: 0 auto;
  min-height: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.page__header {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #445162;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

.header__img {
  border-radius: 50%;
}

.header__title {
  color: #ffffff;
  font-size: 48px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.page__main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  padding: 50px 0;
  text-align: center;
  color: #445162;
  font-size: 36px;
  font-weight: 600;
}

.main__messenger {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

.messenger__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.messenger__item:hover {
  background: #f5f5f5;
}

.messenger__link {
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #445162;
  text-decoration: none;
}

.messenger__link:hover {
  color: #445162;
  text-decoration: none;
}

.messenger__link:active {
  color: #445162;
  text-decoration: none;
}

.messenger__link h3 {
  margin-left: 15px;
}

.messenger__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.page__footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: #f5f5f5;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
}

.footer__text {
  color: #445163;
  font-size: 12px;
  letter-spacing: 0.3px;
}